.image-div {
  background-image: url(./../../assets/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-div h1 {
  letter-spacing: 16px;
  font-weight: 600;
  font-size: 4.0em;
  color: white;
  text-align: center;
}

.header-image-text {
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
}

.overlay-div {
  background-color: rgba(0, 0, 0, 0.7);
}

.image-div h1::first-letter {
  color: #FBAA12;
}

.image-div p {
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 1.6em;
  color: white;
  text-align: center;
}

.contact {
  background-color: #FBAA12;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.contact-image img {
  max-height: 200px;
}
.contact-image {
  width: 30%;
}

.contact-content {
  width: 70%;
  padding-top: 10px;
}

.contact-content h2 {
  font-size: 1.5rem;
}

.contact-content h3 {
  font-size: 2.0rem;
  color: white;
}

.contact-content p {
  font-size: 1em;
  letter-spacing: 10px;
}

.feature-container img {
  height: 100px;
}

.contact-us img {
  max-height: 65px;
}

.contact-us .col-md {
  padding-top: 20px;
}

.contact-us p,
.contact-us address {
  margin-top: 10px;
}


.features {
  background-image: url(./../../assets/feature-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  padding-top: 50px;
  text-align: center;
}

.feature {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feature span {
  color: white;
  font-size: 30px;
}

.feature .fast-safe {
  padding-left: 6px;
}

.feature .cars-line {
  padding-right: 3px;
}

.feature .clean-sanatized {
  padding-right: 7px;
}

.about-us h2 {
  font-weight: 900;
  font-size: 50px;
}

.about-us h2 span {
  font-weight: 300;
}

.book-now-button {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FBAA12;
  color: white;
  border-radius: 7px;
  outline: #FBAA12;
}

.about-us {
  padding-top: 60px;
  padding-bottom: 30px;
}

.vehicles img {
  width: 100%;
}

.vehicles button {
  width: 150px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  padding: 0px;
  border: 0px;
}

.vehicles {
  padding-top: 30px;
  padding-bottom: 30px;
}

#iframe-box{
  position: relative;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  height: 80vh;
}

.contact-us {
  text-align: center;
  font-size: 20px;
}

.contact-us h2 {
  text-align: left;
}

.contact-us h2 {
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 20px;
}

.contact-us h2 span {
  font-weight: 300;
}

.contact-us {
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 a {
  color: white;
}

h3 a:hover {
  color: white;
}

p a {
  color: black;
}

p a:hover {
  color: black;
}

button a {
  color: white;
}

button a:hover {
  color: white;
}

@media only screen and (max-width:800px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-content {
    padding-top: 10px;
  }

}

@media only screen and (min-width:800px) {
  .contact-content h2 {
    font-size: 3.0rem;
  }

  .contact-content h3 {
    font-size: 3.5rem;
    color: white;
  }

  .contact-content p {
    font-size: 1.0em;
    letter-spacing: 10px;
  }
}
