<section id="home">
  <div class="image-div">
    <div class="overlay-div">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="header-image-text">
              <h1>TAXI</h1>
              <p class="header-p">
                WE ARE ALWAYS <br />
                AT YOUR <br />
                SERVICE
              </p>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact" id="book-now">
    <div class="contact-image">
      <img src="./../../assets/ic_stay_current_portrait_24px.png" alt="" />
    </div>
    <div class="contact-content">
      <h2>CALL US 24 HOURS</h2>
      <h3><a href="tel:+1845-343-5555">845-343-5555</a></h3>
      <p>BOOK A TAXI FOR YOUR DESTINATION</p>
    </div>
  </div>
  <div class="features">
    <div class="container feature-container">
      <div class="row feature-row-1">
        <div class="col-md feature">
          <img src="./../../assets/speed.svg" alt="" />
          <div class="span-div">
            <span>FAST & SAFE</span>
          </div>
        </div>
        <div class="col-md feature">
          <img src="./../../assets/taxi.svg" alt="" />
          <div class="span-div">
            <span>LUXURY CARS</span>
          </div>
        </div>
      </div>
      <div class="row feature-row-2">
        <div class="col-md feature">
          <img src="./../../assets/like.svg" alt="" />
          <div class="span-div">
            <span>BEST PRICES</span>
          </div>
        </div>
        <div class="col-md feature">
          <img src="./../../assets/clean.svg" alt="" />
          <div class="span-div">
            <span
              >CLEAN & <br />
              SANATISED</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us container" id="about">
    <h2>ABOUT <span>COMPANY</span></h2>
    <p>
      Robins Taxi was started up just over 3 years back being a local transportation business offering complete taxi service in Middletown NY and surrounding regions. By offering professional, dependable service over the years, we are able trustworthy.
      <br><br>
      You could book-on-demand requests or perhaps book a car for a future tour. We service most of the NYC Metro region such as LaGuardia, manhattan. We additionally service the nearby stadiums as well as venues etc.Today, thanks to our numerous regular clients, that compact business has grown to be a full-service land transportation business helping not just the neighborhood queens town, but the whole -State area with skilled well-trained drivers, together with a fleet of Cars, Vans, SUVs and also local taxis.
      The enlargement we experienced shows the day-to-day, hour-to-hour dedication by our administration and staff to offer trustworthy, safe, fast, polite and then continuous taxi service corona to you the consumer.
      <br><br>
      We profoundly appreciate the chance to serve our local community, thank those customers who have been with us along the way and also welcome you to join the hundreds of RobinsTaxi customers that have enjoyed the diverse airport rides services we have offered over these three-plus years yet still going strong.
    </p>
    <button class="book-now-button"><a href="#book-now">BOOK NOW</a></button>
  </div>
  <div class="vehicles container-fluid">
    <div class="row">
      <div class="col-md card">
        <img src="./../../assets/sedan.png" alt="" />
        <button class="book-now-button">
          <a href="#book-now">BOOK NOW</a>
        </button>
      </div>
      <div class="col-md card">
        <img src="./../../assets/SUV.png" alt="" />
        <button class="book-now-button">
          <a href="#book-now">BOOK NOW</a>
        </button>
      </div>
      <div class="col-md card">
        <img src="./../../assets/van.png" alt="" />
        <button class="book-now-button">
          <a href="#book-now">BOOK NOW</a>
        </button>
      </div>
    </div>
  </div>
  <div class="contact-us container" id="contact">
    <h2></h2>
    <h2>CONTACT <span>US</span></h2>
    <div class="row">
      <div class="col-md">
        <img src="./../../assets/home.svg" alt="" />
        <address>
          #86, Cottage Street <br />
          Middletown NY 10940
        </address>
      </div>
      <div class="col-md">
        <img src="./../../assets/call.svg" alt="" />
        <p><a href="tel:+1845-343-5555">845-343-5555</a></p>
      </div>
      <div class="col-md">
        <img src="./../../assets/email.svg" alt="" />
        <p>
          <a href="mailto:contact@robinstaxi.com">contact@robinstaxi.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
