<section id="home">
  <div class="image-div">
    <div class="overlay-div">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="header-image-text">
              <h1><span class="robins-text">{{ 'HOME.HERO_TITLE_1' | translate }}</span><br />{{ 'HOME.HERO_TITLE_2' | translate }}</h1>
              <p class="header-p">
                {{ 'HOME.HERO_SUBTITLE_1' | translate }} <br />
                {{ 'HOME.HERO_SUBTITLE_2' | translate }} <br />
                {{ 'HOME.HERO_SUBTITLE_3' | translate }}
              </p>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact" id="book-now">
    <div class="contact-image">
      <img src="./../../assets/ic_stay_current_portrait_24px.png" alt="Phone icon" />
    </div>
    <div class="contact-content">
      <h2>{{ 'HOME.CALL_US_AT' | translate }}</h2>
      <h3><a href="tel:+1845-343-5555">845-343-5555</a></h3>
      <p>{{ 'HOME.BOOK_TAXI' | translate }}</p>
    </div>
  </div>
  <div class="features">
    <div class="container feature-container">
      <div class="row feature-row-1">
        <div class="col-md feature">
          <img src="./../../assets/speed.svg" alt="Fast and safe icon" />
          <div class="span-div">
            <span class="fast-safe">{{ 'HOME.FAST_SAFE' | translate }}</span>
          </div>
        </div>
        <div class="col-md feature">
          <img src="./../../assets/taxi.svg" alt="Cars available icon" />
          <div class="span-div">
            <span class="cars-line">{{ 'HOME.CARS' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="row feature-row-2">
        <div class="col-md feature">
          <img src="./../../assets/like.svg" alt="Best prices icon" />
          <div class="span-div">
            <span>{{ 'HOME.BEST_PRICES' | translate }}</span>
          </div>
        </div>
        <div class="col-md feature">
          <img src="./../../assets/clean.svg" alt="Clean and sanitized icon" />
          <div class="span-div">
            <span class="clean-sanatized">{{ 'HOME.CLEAN_SANITIZED_1' | translate }} <br />
              &nbsp; {{ 'HOME.CLEAN_SANITIZED_2' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us container" id="about">
    <h2>{{ 'HOME.ABOUT_TITLE' | translate }} <span>{{ 'HOME.ABOUT_TITLE_SPAN' | translate }}</span></h2>
    <div class="row about-row">
      <div class="col-md about-text">
        <p>
          {{ 'HOME.ABOUT_P1' | translate }}
          <br><br>
          {{ 'HOME.ABOUT_P2' | translate }}
          <br><br>
          {{ 'HOME.ABOUT_P3' | translate }}
        </p>
      </div>
      <div class="col-md about-image">
        <img src="./../../assets/taxi.jpg" alt="Robin's Taxi vehicle" class="about-img" />
      </div>
    </div>
    <!-- <button class="book-now-button"><a href="#book-now">BOOK NOW</a></button> -->
  </div>
  <div class="vehicles container-fluid">
    <div class="row">
      <div class="col-md card">
        <img src="./../../assets/sedan.png" alt="Sedan taxi vehicle" />
      </div>
      <div class="col-md card">
        <img src="./../../assets/SUV.png" alt="SUV taxi vehicle" />
      </div>
      <div class="col-md card">
        <img src="./../../assets/van.png" alt="Van taxi vehicle" />
      </div>
    </div>
  </div>
  <div class="contact-us container" id="contact">
    <h2>{{ 'HOME.CONTACT_TITLE' | translate }} <span>{{ 'HOME.CONTACT_TITLE_SPAN' | translate }}</span></h2>
    <div class="row">
      <div class="col-md">
        <img src="./../../assets/home.svg" alt="Address icon" />
        <address>
          {{ 'HOME.ADDRESS_LINE1' | translate }} <br />
          {{ 'HOME.ADDRESS_LINE2' | translate }}
        </address>
      </div>
      <div class="col-md">
        <img src="./../../assets/call.svg" alt="Phone icon" />
        <p><a href="tel:+1845-343-5555">845-343-5555</a></p>
      </div>
      <address class="col-md">
        <img src="./../../assets/email.svg" alt="Email icon" />
        <p>
          <a href="mailto:contact&#64;robinstaxi.com">contact&#64;nyrobinstaxi.com</a>
        </p>
      </address>
    </div>
  </div>
</section>
