.nav{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar{
  display: flex;
  align-items: center;
  height: 70px;
  color: white;
}

section{
  background-color: rgba(0, 0, 0, 0.9);
}

.site-title{
  color: white;
}

.navbar nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px;
}

.navbar nav li a{
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navbar nav li a:hover{
  color: #f5ab41;
}

img{
  height: 30px;
  padding-right: 10px;
}

h3{
  display: inline;
}

h3 a{
  color: white;
}

h3 a:hover{
  color: white;
}

.overlay{
    font-size: 2em;
    color: white;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    z-index: 100;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}


li{
  text-decoration: none;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul{
  padding: 0px;
}

.close{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.ham-menu{
  display: none;
}

@media only screen and (max-width:1000px){
  .ham-menu{
    display: inline;
  }
  .menu-header{
    display: none;
  }
  .phone-header{
    display: none;
  }
}

.overlay ul li a {
  color: white;
  text-decoration: none;
}

.ham-menu{
  cursor: pointer;
}
