<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <!-- col 1 -->
        <h4>{{ 'FOOTER.OUR_SERVICES' | translate }}</h4>
        <br>
        <p><a routerLink="/services/airport-trips">{{ 'HEADER.AIRPORT_TRIPS' | translate }}</a></p>
        <p><a routerLink="/services/sightseeing-tours">{{ 'HEADER.SIGHTSEEING_TOURS' | translate }}</a></p>
        <p><a routerLink="/services/long-distance-trips">{{ 'HEADER.LONG_DISTANCE_TRIPS' | translate }}</a></p>
        <p><a routerLink="/services/local-transportation">{{ 'HEADER.LOCAL_TRANSPORTATION' | translate }}</a></p>
        <p><a routerLink="/services/medical-transportation">{{ 'FOOTER.NEMT' | translate }}</a></p>
      </div>
      <div class="col-md second-column">
        <!-- col 2 -->
        <h2>ROBINS TAXI</h2>
        <button (click)="onNavigatetoMedicalReservation()" class="orange-button">{{ 'FOOTER.ARRANGE_MEDICAL' | translate }}</button>
        <br>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/facebook.svg" alt="Follow Robin's Taxi on Facebook"></a>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/instagram.svg" alt="Follow Robin's Taxi on Instagram"></a>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/twitter.svg" alt="Follow Robin's Taxi on Twitter"></a>
      </div>
    </div>
    <hr>
    <div class="copyrite">
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    </div>
  </div>
</section>
