<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <!-- col 1: linked services with i18n -->
        <h4>{{ 'FOOTER.OUR_SERVICES' | translate }}</h4>
        <ul class="footer-list">
          <li><a routerLink="/services/airport-trips">{{ 'HEADER.AIRPORT_TRIPS' | translate }}</a></li>
          <li><a routerLink="/services/sightseeing-tours">{{ 'HEADER.SIGHTSEEING_TOURS' | translate }}</a></li>
          <li><a routerLink="/services/long-distance-trips">{{ 'HEADER.LONG_DISTANCE_TRIPS' | translate }}</a></li>
          <li><a routerLink="/services/local-transportation">{{ 'HEADER.LOCAL_TRANSPORTATION' | translate }}</a></li>
          <li><a routerLink="/services/medical-transportation">{{ 'FOOTER.NEMT' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md">
        <!-- col 2: service area -->
        <h4>{{ 'FOOTER.SERVICE_AREA' | translate }}</h4>
        <ul class="footer-list">
          <li>Middletown, NY</li>
          <li>Goshen &middot; Monroe &middot; Newburgh</li>
          <li>Wallkill &middot; Chester &middot; Warwick</li>
          <li>Port Jervis &middot; Pine Bush &middot; Walden</li>
          <li>{{ 'FOOTER.AREA_OC' | translate }}</li>
          <li>{{ 'FOOTER.AREA_NYC' | translate }}</li>
        </ul>
      </div>
      <div class="col-md">
        <!-- col 3: contact + NAP + hours -->
        <h4>{{ 'FOOTER.CONTACT_HEAD' | translate }}</h4>
        <address class="footer-address">
          Robin's Taxi<br>
          86 Cottage Street<br>
          Middletown, NY 10940
        </address>
        <p class="footer-phone">
          <a href="tel:+18453435555" aria-label="Call 845-343-5555">&#9742; 845-343-5555</a>
        </p>
        <p>
          <a href="mailto:contact&#64;nyrobinstaxi.com">contact&#64;nyrobinstaxi.com</a>
        </p>
      </div>
      <div class="col-md second-column">
        <!-- col 4: branded CTAs + social -->
        <h2>ROBIN'S TAXI</h2>
        <p class="tagline">{{ 'FOOTER.TAGLINE' | translate }}</p>
        <a class="orange-button book-cta" href="tel:+18453435555">{{ 'FOOTER.BOOK_NOW' | translate }}</a>
        <button (click)="onNavigatetoMedicalReservation()" class="orange-button medical-cta">{{ 'FOOTER.ARRANGE_MEDICAL' | translate }}</button>
        <div class="social">
          <a href="https://www.facebook.com/robinstaxi86/" target="_blank" rel="noopener" aria-label="Robin's Taxi on Facebook">
            <img src="./../../assets/facebook.svg" alt="Follow Robin's Taxi on Facebook">
          </a>
          <a href="https://www.facebook.com/robinstaxi86/" target="_blank" rel="noopener" aria-label="Robin's Taxi on Instagram">
            <img src="./../../assets/instagram.svg" alt="Follow Robin's Taxi on Instagram">
          </a>
          <a href="https://www.facebook.com/robinstaxi86/" target="_blank" rel="noopener" aria-label="Robin's Taxi on Twitter">
            <img src="./../../assets/twitter.svg" alt="Follow Robin's Taxi on Twitter">
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="copyrite">
      <p>&copy; {{currentYear}} Robin's Taxi &middot; Middletown, NY &middot; {{ 'FOOTER.RIGHTS' | translate }}</p>
    </div>
  </div>
</footer>
