<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <!-- col 1 -->
        <h4>Our Services</h4>
        <br>
        <p>Taxi Service in Orange County</p>
        <p>Taxi to New York City</p>
        <p>Taxi to New York Airports</p>
        <p>Non-Emergency Medical Transportation</p>
      </div>
      <div class="col-md second-column">
        <!-- col 2 -->
        <button class="orange-button"><a href="#book-now">BOOK A TAXI NOW</a></button>
        <h2>ROBINS TAXI</h2>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/facebook.svg" alt=""></a>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/instagram.svg" alt=""></a>
        <a href="https://www.facebook.com/robinstaxi86/" target="_blank"><img src="./../../assets/twitter.svg" alt=""></a>
      </div>
    </div>
    <hr>
    <div class="copyrite">
      <p>© ROBIN'S TAXI 2023</p>
    </div>
  </div>
</section>
